<h1>New Time Schedule</h1>
<div id="time-schedule">
  <div class="add-time">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= render 'form', time_schedule: @time_schedule %><br>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>



