<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor_specialization.name %>
</p>

<%= link_to 'Edit', edit_doctor_specialization_path(@doctor_specialization) %> |
<%= link_to 'Back', doctor_specializations_path %>
