<h1>Editing Hospital Affiliation</h1>

<%= render 'form', hospital_affiliation: @hospital_affiliation %>

<%= link_to 'Show', @hospital_affiliation %> |
<%= link_to 'Back', hospital_affiliations_path %>
