<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Wait time rating</th>
      <th>Bedside manner rating</th>
      <th>Overall rating</th>
      <th>Review</th>
      <th>Is recommended</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->
    <div id="review">
  <div class="user-rating">
    <div class="container">
      <%=  render @reviews %>
    </div>
  </div>
</div>
    
      
 <!--  </tbody>
</table> -->

<br>



<%= link_to 'New Review', new_review_path %>
 <%= link_to 'sign in', new_user_session_path %>

 